[submodule "libdata-parsebinary-perl"]
	path = libdata-parsebinary-perl
	url = git://github.com/alanhaggai/libdata-parsebinary-perl.git
[submodule "libtap-harness-archive-perl"]
	path = libtap-harness-archive-perl
	url = git://github.com/alanhaggai/libtap-harness-archive-perl.git
[submodule "libtemplate-plugin-cycle-perl"]
	path = libtemplate-plugin-cycle-perl
	url = git://github.com/alanhaggai/libtemplate-plugin-cycle-perl.git
